@import "../../colors";
@import "../../typography";

.root {
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  font-size: $font-size-big;
  margin: 10px auto;
  width: 100%;
  &:active,
  &:focus {
    border-bottom-width: medium;
    box-shadow: 5px 5px 10px $mid-gray-light;
    outline: 0;
  }
}

.title {
  font-size: $font-size-normal;
  font-weight: bold;
}
