@import "../../typography";

.root {
  border-width: 1px;
  margin: 10px auto;
}

.select {
  border-radius: 6px;
  border-style: solid;
  font-size: $font-size-big;
  margin: 10px auto;
  width: 100%;
  outline: 0;
}

.option {
  font-size: $font-size-big;
}

.label {
  composes: label from "../TextInput/TextInput.scss";
}
