//base colors
$blue: #0d3880;
$pink: #e60278;
$green: #157e00;
$purple: #9556b7;

// gray
$black: #212121;
$charcoal: #404040;
$mid-gray-dark: #747474;
$mid-gray-medium: #898989;
$mid-gray: #a8a8a8;
$mid-gray-light: #d6d6d6;
$gray-medium: #e1e1e1;
$gray-light: #eeeeee;
$gray-lightest: #f7f7f7;
$off-white: #fbfbfb;
$white: #ffffff;

// elements:
$link: #0066cc;
$link-visited: #7e30ab;
$focus: #1e90ff;
$highlight: #1d9ede;
$green-light: #5bc252;
$yellow: #ffc600;
$yellow-light: #fffce3;
$footer: $mid-gray-light;
$background: $gray-light;
$form-accent: $focus;
