@import "colors";
// extends

.link {
  color: $mid-gray-dark;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    // color: $gray-light;
    text-shadow: 2px 4px 2px $gray-medium;
  }
}

%link {
  color: $mid-gray-dark;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
    color: $gray-light;
  }
}
